.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f0f0f0;
    height: 60px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }
  
  .navbar a.active {
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 10px;
  }
